body {
  background-image: url('bg-image.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

p{
    color: whitesmoke;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}  

a{
  color:rgb(0 220 230);
}

.main{

  background-color: transparent;
  border: double 10px whitesmoke;
  padding: 10px;
}

.container {
    padding: 10px;
    margin: 10px;
}
li{
  color:whitesmoke;
  font-size:20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 
#heading1 {
    color: rgb(0 220 230);
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    
  }
#heading3 {
    color: rgb(0 220 230);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

