body {
  background-color: rgb(188, 229, 216);
  /* background-image: url('bg-image.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
}

p{
    color: black;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}  

a{
  color:rgb(23, 0, 230);
}

.main{

  background-color: transparent;
  border: double 10px whitesmoke;
  padding: 10px;
  display:flex;
  justify-content: space-between;
}

.tribute-img img{
  border: dotted;
  border-radius: 50%;
  overflow: hidden;
}

.container {
    padding: 10px;
    margin: 10px;
}
li{
  color:black;
  font-size:20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 
#heading1 {
    color: rgb(0 220 230);
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    
  }
#heading3 {
    color: rgb(0 220 230);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

